// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#hook{
  padding-top: 1%;
}

#hook-main{
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  text-align: center;
  padding-bottom: 2%;
  font-weight: 600;
}

#hook-sub{
  font-size: 22px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  text-align: center;
  font-weight: 300;
}

#chart{
  padding-top: 3%;
}

#rate{
  float:left;
  width: 500px;
}
#days{
  float: right;
  width: 500px;
  padding-right: 4%;
}

.logo {
  padding-left: 92px;
  padding-top: 11px;
  letter-spacing: 2px;
  float: left;
}

.petition-title {
  font-size: 22px;
  line-height: 120%;
}

#dropdown {
  position: relative;
  float: right;
  padding-top: 4px;
  padding-right: 10%;
}

#petition-metrics{
  padding-top: 5%;
}

#rate-title{
  letter-spacing: 1px;
  padding-bottom: 3%;
}

#days-title{
  letter-spacing: 1px;
  padding-bottom: 3%;
}

.petition-rate{
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1px;
}

.petition-rate-metric{
  color: #2DAB1D;
}

.petition-rate-metric-label{
  font-weight: 200;
}

.inline{
  display: inline;
}

.petition-days{
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1px;
}

.petition-days-metric{
  color: #AB261D;
}

.petition-days-label{
  font-weight: 200;
}

.terms {
  float: left;
  margin-right: 20px;
}

.well {
  float: left;
}