// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#rate{
  float:left;
  width: 500px;
}
#days{
  float: right;
  width: 500px;
}

.logo {
  padding-left: 92px;
  padding-top: 11px;
  letter-spacing: 2px;
  float: left;
}

.petition-title {
  font-size: 22px;
  line-height: 120%;
}

#dropdown {
  position: relative;
  float: right;
  padding-top: 4px;
  padding-right: 10%;
}
